body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
}

.auth-section{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-box{
    width:100%;
    max-width:420px;
    background:#1b1b1b;
    color:white;
    border-radius:15px;
    padding:35px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.auth-box h1{
    text-align:center;
    color:#D4AF37;
    margin-bottom:10px;
}

.auth-box p{
    text-align:center;
    color:#ccc;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
}

.input-group input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #555;
    background:#111;
    color:white;
    box-sizing:border-box;
}

.login-btn{
    width:100%;
    padding:14px;
    background:#D4AF37;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.login-btn:hover{
    background:#f1c84c;
}

.auth-links{
    margin-top:20px;
    text-align:center;
}

.auth-links a{
    color:#D4AF37;
    text-decoration:none;
    display:block;
    margin-top:10px;
   }
